<!DOCTYPE html>
<html>

    <head>
        <title>Join GitHub</title>

        <meta http-equiv="content-Language" content="pt-br" charset="UTF-8">
        <link rel="fluid-icon" herf="https://github.com/fluidicon.png" title="GitHub">
        <title>The world’s leading software development platform · GitHub</title>
        <meta name="description" content="GitHub brings together the world’s largest community of developers to discover,
                                                    share, and build better software. From open source projects to private team repositories,
                                                    we’re your all-in-one platform for collaborative development.">
        <link rel="stylesheet" type="text/css" href="/style/style.css">

    </head>

    <body>
        <!--Cabeçalho-->
        <div class="cabecalho">
            <div class="cabe_01">
                <ul class="ul_01">
                    <li class="li_01 "><a class="a_aa" href="/"><img src="../images/logo.jpg" /></a></li>
                    <li class="li_02 some"><a class="a_a1" style="padding-left: 12px; padding-right: 12px;"
                        href="login">Sign in</a></li>
                </ul>
            </div>
        </div>

        <!--Div que alinha centralmente elementos da página-->
        <div class="teste">
            <div class="formulario"></div>
            <h2>Join GitHub</h2>
            <form action="get_usuario" method="POST">
                <label class="formulario">Username</label>
                <input class="corpo" type="text" name="username" value="<%= data.username %>">

                <label class="formulario">Email</label>
                <input class="corpo" type="text" name="email" value="<%= data.email %>">

                <label class="formulario">Password</label>
                <input class="corpo" type="password" name="password" value="<%= data.password %>">

                <label class="formulario">Adress</label>
                <input class="corpo" type="text" name="endereco" value="<%= data.endereco %>">

                <label class="formulario">District</label>
                <input class="corpo" type="text" name="bairro" value="<%= data.bairro %>">

                <label class="formulario">Number</label>
                <input class="corpo" type="number" name="numero" value="<%= data.numero %>">

                <label class="formulario">City</label>
                <input class="corpo" type="text" name="cidade" value="<%= data.cidade %>">

                <label class="formulario">State</label>
                <input class="corpo" type="text" name="estado" value="<%= data.estado %>">

                <label class="formulario">CEP</label>
                <input class="corpo" type="text" name="cep" value="<%= data.cep %>">
                <%= mensagem %>

                <button class="Sign-Up">Sign Up for GitHub</button>
            </form>
        </div>

        </div>

    </body>

</html>