<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-Language" content="pt-br" charset="UTF-8">
        <link rel="fluid-icon" herf="/images/fluidicon.png" title="GitHub">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico"/>
        <title>The world’s leading software development platform · GitHub</title>
        <meta name="description" content=   "GitHub brings together the world’s largest community of developers to discover,
                                            share, and build better software. From open source projects to private team repositories,
                                            we’re your all-in-one platform for collaborative development.">
        <link rel="stylesheet" type="text/css" href="../style/style.css">
    </head>
    <body>
        <!--Cabeçalho-->
        <div class="cabecalho">
            <div class="cabe_01">
        
                <ul class="ul_01">
                    <li class="li_01 "><a class="a_aa" href="/"><img src="../images/logo.jpg"></img></a></li>
                    <li class="li_02 up"><a class="a_a1up" href="logout">Logout</a></li>
                    <li class="li_02 some"><a class="a_a1" style="padding-left: 12px; padding-right: 24px;"
                    href="/tela_busca"><%= username %></a></li>
                    

                <!--    <li class="li_02 some" style="height: 41px"><a class="a_a1" style="padding: 0px;"><span
                                class="teste"></span><img src="images/search.jpg"></img></span></a></li>
                -->
                </ul>
            </div>
        
        </div>
        
        <!--Corpo-->
        <div class="corpo2">
            <!--Colocando uma div a mais para teste-->
            <div class="teste2">
                <div class="topo_busca">
                    <div class="search_busca">
                        <form action="/busca" method="post">
                            <input type="text" class="search_busca" name="busca" placeholder="Search Files"/>
                            <img src="../images/barra.svg" class="search" alt="Buscar"/>
                        </form> 
                    </div>
                    
                    <div>
                        <form action="/tela_publicacao"><button class="Add" type="submit">Add File</button></form> 
                    </div>
                </div>

                <div class="busca_up">
                    <a class="pub" style="font-size: 24px; color: rgb(255, 255, 255);"><%= message %></a>
                <% data.forEach(function(details) 
                { %>
                    <div class="img_up">
                        <%if (details.tipo != 'jpg' && details.tipo != 'png') 
                        { %>
                            <%if (  details.tipo == 'mp4' || details.tipo == 'avi' || details.tipo == 'mpg' || 
                                    details.tipo == 'wmv' || details.tipo == '3gp' || details.tipo == 'mkv' ||
                                    details.tipo == 'flv' || details.tipo == 'm4v' || details.tipo == 'mov' ||
                                    details.tipo == 'mkv') 
                            { %>
                                <div>
                                    <a href="../public/upload/<%= details.name %>.<%= details.tipo %>" target="_blank">
                                        <img src="../public/upload/type/video.png" height="150" width="150" alt="<%= details.name %>"></img>
                                    </a>
                                </div>
                            <% } 
                            else if (   details.tipo == 'mp3' || details.tipo == 'm4a' || details.tipo == 'aac' || 
                                        details.tipo == 'ogg' || details.tipo == 'wma' || details.tipo == 'flac' ||
                                        details.tipo == 'wav')
                            { %>
                                <div>
                                    <a href="../public/upload/<%= details.name %>.<%= details.tipo %>" target="_blank">
                                        <img src="../public/upload/type/audio.png" height="150" width="150" alt="<%= details.name %>"></img>
                                    </a>
                                </div>
                            <% } 
                            else { %>
                                <div>
                                    <a href="../public/upload/<%= details.name %>.<%= details.tipo %>" target="_blank">
                                        <img src="../public/upload/type/<%= details.tipo %>.png" height="150" width="150" alt="<%= details.name %>"></img>
                                    </a>
                                </div>
                            <% } %>
                        <% } 
                        else { %>
                            <div>
                                <a href="../public/upload/<%= details.name %>.<%= details.tipo %>" target="_blank">
                                    <img src="../public/upload/<%= details.name %>.<%= details.tipo %>" height="150" width="150" alt="<%= details.name %>"></img>
                                </a>
                            </div>
                        <% } %>

                        <div style="display:flex; justify-content:center; align-items: center; margin-bottom: 10px; color: white; font-size: 14px">
                            <span><%= details.name %>.<%= details.tipo %></span></div>
                    </div>
                    
                <% }) %>

                </div>

                <!--
                <form action="/pub" method="post" enctype="multipart/form-data">
                    <input type="file" name="filetoupload"><br>
                    <input type="submit">
                  </form>
                -->
            </div>
        </div>
        
    </body>
</html>