<!DOCTYPE html>
<html>

    <head>
        <meta http-equiv="content-Language" content="pt-br" charset="UTF-8">
        <link rel="fluid-icon" herf="/images/fluidicon.png" title="GitHub">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
        <title>The world’s leading software development platform · GitHub</title>
        <meta name="description" content="GitHub brings together the world’s largest community of developers to discover,
                                            share, and build better software. From open source projects to private team repositories,
                                            we’re your all-in-one platform for collaborative development.">
        <link rel="stylesheet" type="text/css" href="../style/style.css">

    </head>

    <body>
        <!--Cabeçalho-->
        <div class="cabecalho">
            <div class="cabe_01">

                <ul class="ul_01">
                    <li class="li_01 "><a class="a_aa" href="/"><img src="../images/logo.jpg"></img></a></li>
                    <li class="li_02 up"><a class="a_a1up" href="logout">Logout</a></li>
                    <li class="li_02 some"><a class="a_a1" style="padding-left: 12px; padding-right: 24px;"
                            href="/tela_compartilhado"><%= username %></a></li>
                <li class="li_02"><a class="a_a1" style="padding-left: 12px; padding-right: 24px;" href="/trocar_senha">Change Password</a></li>

                </ul>
            </div>

        </div>

        <!--Corpo-->
        <div class="corpo2">
            <!--Colocando uma div a mais para teste-->
            <div class="teste2">
                <div class="topo_busca">
                    <div class="search_busca" id='test'>
                        <form action="/busca_compartilhado" method="post">
                            <input type="text" class="search_busca" name="busca" id="livesearch"
                                placeholder="Search Files" value="" autocomplete="off" />
                            <img src="../images/barra.svg" class="search" alt="Buscar" />
                            <div id="sugestoes" style="overflow: hidden;"></div> <!-- Mostrar lista de sugeridos -->
                        </form>
                    </div>
                </div>

                <div class="busca_up">
                    <a class="pub" style="font-size: 24px; color: rgb(255, 255, 255);"><%= message %></a>
                    
                    <div id="carregando">

                    </div>
                    
                    <span id="refresh">

                    </span>
                    <% data.forEach(function(details) 
                { %>
                    <div class="img_up">
                        <%if (details.tipo != 'jpg' && details.tipo != 'png') 
                        { %>
                        <%if (  details.tipo == 'mp4' || details.tipo == 'avi' || details.tipo == 'mpg' || 
                                    details.tipo == 'wmv' || details.tipo == '3gp' || details.tipo == 'mkv' ||
                                    details.tipo == 'flv' || details.tipo == 'm4v' || details.tipo == 'mov' ||
                                    details.tipo == 'mkv') 
                            { %>
                        <div>
                            <a href="../public/upload/<%= details.name %>.<%= details.tipo %>" target="_blank">
                                <img src="../public/upload/type/video.png" height="125" width="125"
                                    alt="<%= details.name %>"></img>
                            </a>
                        </div>
                        <% } 
                            else if (   details.tipo == 'mp3' || details.tipo == 'm4a' || details.tipo == 'aac' || 
                                        details.tipo == 'ogg' || details.tipo == 'wma' || details.tipo == 'flac' ||
                                        details.tipo == 'wav')
                            { %>
                        <div>
                            <a href="../public/upload/<%= details.name %>.<%= details.tipo %>" target="_blank">
                                <img src="../public/upload/type/audio.png" height="125" width="125"
                                    alt="<%= details.name %>"></img>
                            </a>
                        </div>
                        <% } 
                            else if (   details.tipo == 'css' || details.tipo == 'exe' || details.tipo == 'html' || 
                                        details.tipo == 'pdf' || details.tipo == 'rar' || details.tipo == 'txt' ||
                                        details.tipo == 'zip'){ %>
                        <div>
                            <a href="../public/upload/<%= details.name %>.<%= details.tipo %>" target="_blank">
                                <img src="../public/upload/type/<%= details.tipo %>.png" height="125" width="125"
                                    alt="<%= details.name %>"></img>
                            </a>
                        </div>
                        <% } 
                            else {%>
                        <div>
                            <a href="../public/upload/<%= details.name %>.<%= details.tipo %>" target="_blank">
                                <img src="../public/upload/type/file.png" height="125" width="125"
                                    alt="<%= details.name %>"></img>
                            </a>
                        </div>
                        <% } %>
                        <% } 
                        else { %>
                        <div>
                            <a href="../public/upload/<%= details.name %>.<%= details.tipo %>" target="_blank">
                                <img src="../public/upload/<%= details.name %>.<%= details.tipo %>" height="125"
                                    width="125" alt="<%= details.name %>"></img>
                            </a>
                        </div>
                        <% } %>

                        <div
                            style="display:flex; justify-content:center; align-items: center; margin-bottom: 10px; color: white; font-size: 14px">
                            <span><%= details.name %>.<%= details.tipo %><br>User: <%= details.username %></span>

                        </div>
                    </div>

                    <% }) %>

                </div>

            </div>
        </div>

        <script type="text/javascript" charset="utf-8">
            var refresh = document.querySelector('#refresh');
            setInterval(function () {
                var xmlhttp = new XMLHttpRequest();
                xmlhttp.open("GET", "shared_refresh", true);

                xmlhttp.onreadystatechange = function () {
                    document.getElementById("carregando").innerHTML = "<img src='../images/carregando.gif' alt='loading...' />" //Progress indicator
                    if (this.readyState == 4 && this.status == 200) {
                        //Tranformando String em elemento JSON
                        let results = JSON.parse(xmlhttp.responseText);
                        let str = "";
                        
                        //Percorrendo todos os objetos do JSON retonado pelo servidor
                        results.forEach(function (value, index) {
                            //console.log(value);

                            if (value.tipo != "jpg" && value.tipo != "png") {
                                str += "<div class=\"img_up\">" + "<div><a href=\"../public/upload/" + value.name + "." + value.tipo + "\" target=\"_blank\"><img src=\"../public/upload/type/file.png\" height=\"125\" width=\"125\" alt=\"" + value.name + "\"></img></a></div>";
                            }

                            else {
                                str += "<div class=\"img_up\">" + "<div><a href=\"../public/upload/" + value.name + "." + value.tipo + "\" target=\"_blank\"><img src=\"../public/upload/" + value.name + "." + value.tipo + "\" height=\"125\" width=\"125\" alt=\"" + value.name + "\"></img></a></div>";
                            }

                            str += "<div style=\"display:flex; justify-content:center; align-items: center; margin-bottom: 10px; color: white; font-size: 14px\"><span>" + value.name + "." + value.tipo + "<br>User: " + value.username + "</span></div></div>";
                        });

                        //DIV sugestoes recebe código html para adicionar na página de forma dinâmica
                        document.getElementById("carregando").innerHTML = "";
                        document.getElementById("refresh").innerHTML = str + document.getElementById("refresh").innerHTML;
                    }
                }

                xmlhttp.send();
            }, 5000);

            //Função de Live-Search
            document.getElementsByTagName("input")[0]
                .addEventListener("keyup", function () {
                    let busca = document.getElementById("livesearch").value;
                    let sugestoes = document.getElementById("sugestoes");
                    let xmlhttp = new XMLHttpRequest();
                    

                    if (busca == "") {
                        sugestoes.innerHTML = "";
                        sugestoes.style.padding = "0px";
                        return;
                    }

                    xmlhttp.onreadystatechange = function () {
                        document.getElementById("sugestoes").innerHTML = "<span style='color: white'>loading...</span>"; //Progress indicator
                        sugestoes.style.padding = '5px';
                        if (this.readyState == 4 && this.status == 200) {
                            //Tranformando String em elemento JSON
                            let myJson = JSON.parse(xmlhttp.responseText);
                            let string = "";

                            //Percorrendo todos os objetos do JSON retonado pelo servidor
                            myJson.forEach((result, index) => {
                                //String auxiliar para para inserção de elemento no HTML
                                string += "<div onclick= \"setValue('" + result.name + "')\"><span style='color: white' >"
                                    + result.name + "</span></div>";
                            });

                            //DIV sugestoes recebe código html para adicionar na página de forma dinâmica 
                            sugestoes.innerHTML = string;
                        }
                    }

                    //Fazendo requisição GET tendo o texto de busca como parâmetro para manipulação no lado servidor
                    xmlhttp.open("GET", "livesearch/" + busca, true);
                    xmlhttp.send();
                });

                function setValue(str) {
                    document.getElementById("livesearch").value = str;
                    document.getElementById("sugestoes").innerHTML = "";
                    document.getElementById("sugestoes").style.padding = "0px";

                }

        </script>

    </body>

</html>
